:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
span {
  background-color: #706e70fd;
  color: #79ec4c;
  padding: 2px 4px ;
  border-radius: 5px;
  cursor: pointer;
}

a{
  padding: 3px 6px;
  background-color: gray;
  color: rgb(220, 223, 50);
}